
--------------------------------------------------------------------------
.wrapper{width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin:auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.rightcol{margin-left: 190px;
    background-size: 50%;
    background-image: url("bg-brownies1.png");
    background-repeat: repeat;
    margin-block-end: auto;
    background-color: #c8bea8;
    padding: 5px 15px 25px 15px;
    border: #515513;
    border-radius: 5px 5px 5px 5px;
    border-style:double;
}


a:link{color:#217510}
a:visited{color:#b6452c}
a:hover{color:#d6da57;}


header{text-align: center;}
header img{float: left;}

nav{float:left;
    position:fixed;
    background-size: 300%;
    margin: 0px 0px 0px -15px;
}

nav ul{list-style-type: none;}

nav ul ul a{font-size: 0.85em;
    text-decoration: none;
}


nav a{font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

table, th, td {
    border:3px solid #956656;
    margin: 2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
}

th{
    font-size: large;
}

td{
    text-align: center;
}

a{text-decoration: none;}

h1{border-width: .15em 0 .15em 0; 
    border-color:#704235;
    border-style:double;
    background-color: #c8bea8;
    color:#301b28;
    line-height: 200%;
    text-shadow: 3px 3px 5px  #CCCCCC;
    font-family:Arial, Helvetica, sans-serif
}

h2{background-color:#515513;
    color:#ad946d;
    line-height: 200%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h3{font-size: 1.15em;
    font-weight: bold;
}

h5{font-size: 1.15em;}

p{font-size: 1.05em;
    text-indent: 1.25em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{font-weight: bold;
    font-size: 1.25em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol{font-weight: bold;
    font-size: 1.05em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{font-weight: lighter;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    float:none;
    image-rendering:optimizeQuality;
    height:auto;
    position:sticky;
    padding: 15px 15px 15px 15px;
}

footer{
    font-size: 1.1em;
    padding: 0px 0px 15px 20px;
    border-width: 5px 0 5px 0; 
    border-color:#704235;
    border-style:double;
    background-color: #c8beb9;
    color:#471c57;
}


footer li{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    font-size: 0.75em;
}

footer a{font-weight: bold;
    font-size: 1em;
}

footer button a:hover{
    background-color: #c8beb9;
}

footer i{margin: 5px 5px 5px 5px;
    font-size: 0.85em;
}

button:hover{
    transition:0,3s;
}

button{background-color: #c8beb9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: #191a05;
    border: 3px 3px 3px 3px;
    border-style: dashed;
    font-size: 1.05em;
    margin: 10px 10px 10px 0px;
}




